* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v26_6 {
  width: 100%;
  height: 4034px;
  background: rgba(194,194,194,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_7 {
  height: 148px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  padding: 3em;
  text-align: right;
}
.v26_8 {
  width: 314px;
  height: 314px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 169px;
  overflow: hidden;
}
.v26_9 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v26_10 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_11 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_12 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_13 {
  width: 9px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 68px;
}
.v26_14 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_15 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_16 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_17 {
  width: 11px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 77px;
}
.v26_18 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_19 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_20 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_21 {
  width: 11px;
  height: 20px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 89px;
}
.v26_22 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_23 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_24 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_25 {
  width: 3px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 102px;
}
.v26_26 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_27 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_28 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_29 {
  width: 8px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 107px;
}
.v26_30 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_31 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_32 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_33 {
  width: 3px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 116px;
}
.v26_34 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_35 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_36 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_37 {
  width: 11px;
  height: 20px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 122px;
}
.v26_38 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_39 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_40 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_41 {
  width: 11px;
  height: 20px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 138px;
}
.v26_42 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_43 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_44 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_45 {
  width: 11px;
  height: 20px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 150px;
}
.v26_46 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_47 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_48 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_49 {
  width: 11px;
  height: 19px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 162px;
}
.v26_50 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_51 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_52 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_53 {
  width: 10px;
  height: 20px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 174px;
}
.v26_54 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_55 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_56 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_57 {
  width: 9px;
  height: 19px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 184px;
}
.v26_58 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_59 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_60 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_61 {
  width: 11px;
  height: 20px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 198px;
}
.v26_62 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_63 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_64 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_65 {
  width: 7px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 211px;
}
.v26_66 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_67 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_68 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_69 {
  width: 11px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 218px;
}
.v26_70 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_71 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_72 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_73 {
  width: 3px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 231px;
}
.v26_74 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_75 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_76 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_77 {
  width: 13px;
  height: 19px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 237px;
}
.v26_78 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_79 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_80 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_81 {
  width: 10px;
  height: 20px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 252px;
}
.v26_82 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_83 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_84 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_85 {
  width: 132px;
  height: 108px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 51px;
}
.v26_86 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_87 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_88 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_89 {
  width: 134px;
  height: 69px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 128px;
}
.v26_90 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v26_91 {
  width: 314px;
  height: 314px;
  background: url("../images/v26_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_92 {
  width: 314px;
  height: 314px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v26_93 {
  width: 58px;
  height: 39px;
  background: rgba(42,56,144,1);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 203px;
}
.v26_94 {
  width: 198px;
  color: rgba(0,0,0,1);
  top: 53px;
  left: 875px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v26_95 {
  color: rgba(0,0,0,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  padding: 3rem;
  text-align: center;
}
.v26_96 {
  width: 100%;
  background: url("../images/v26_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  font-weight:700;
  overflow: hidden;
  padding:12em;
}
.v26_97 {
  width: 100%;
  background: url("../images/v26_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  padding:7rem;
}
.v26_98 {
  width: 100%;
  height: 100%;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 2088px;
  left: 0px;
  overflow: hidden;
}
.v26_99 {
  width: 636px;
  color: rgba(14,14,14,1);
  position: absolute;
  top: 2122px;
  left: 228px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v26_100 {
  width: 636px;
  color: rgba(255,255,255,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v26_101 {
  width: 504px;
  color: rgba(255,255,255,1);
  top: 1876px;
  left: 177px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v26_103 {
  width: 100%;
  height: 887px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 150px;
  left: 0px;
  overflow: hidden;
}
.v26_104 {
  width: 100%;
  color: rgba(255,255,255,1);
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
  z-index: 10;
}
.v26_105 {
  width: 100%;
  color: rgba(255,255,255,1);
  top: 593px;
  left: 220px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  padding: 2em;
}
.v26_106 {
  width: 100%;
  height: 689px;
  background: rgba(40,170,225,1);
  opacity: 1;
  position: absolute;
  top: 3139px;
  left: 0px;
  overflow: hidden;
}
.v26_107 {
  width: 100%;
  height: 206px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3828px;
  left: 0px;
  overflow: hidden;
}
.v26_108 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3885px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_109 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3935px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_110 {
  width: 854px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3139px;
  left: 437px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v26_111 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3378px;
  left: 228px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.button_outer {
  padding: 0em 12em 12em 12em;
}

.v26_112 {
  background: url("../images/v26_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v26_113 {
  background: rgba(42,56,144,1);
  opacity: 1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v26_114 {
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v26_115 {
  background: url("../images/v26_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 1225px;
  left: 251px;
  overflow: hidden;
  text-align: center;
  padding: 4em;
}

.collections {
  display: flex;
  padding: 0em;
}

.cell {
  width: 23vw;
  height: 100vh;
  position: relative;
}
.v26_116 {
  background: url("../images/v26_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v26_117 {
  background: rgba(0,0,0,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v26_118 {
  width: 23vw;
  color: rgba(255,255,255,1);
  position: relative;
  top: -50vh;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 1.85vw;
  opacity: 1;
  text-align: center;
}
.v26_119 {
  width: 23vw;
  color: rgba(255,255,255,1);
  position: relative;
  top: -40vh;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 1.5vw;
  opacity: 1;
  text-align:center;
}
.v26_120 {
  background: url("../images/v26_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 1225px;
  left: 691px;
  overflow: hidden;
}
.v26_121 {
  background: url("../images/v26_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v26_122 {
  width: 356px;
  height: 655px;
  background: rgba(0,0,0,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v26_123 {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 302px;
  left: 21px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_124 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 413px;
  left: 21px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_125 {
  background: url("../images/v26_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 1225px;
  left: 1132px;
  overflow: hidden;
}
.v26_126 {
  background: url("../images/v26_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v26_127 {
  width: 379px;
  height: 655px;
  background: rgba(0,0,0,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v26_128 {
  width: 342px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 302px;
  left: 21px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_129 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 413px;
  left: 21px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_130 {
  width: 504px;
  color: rgba(255,255,255,1);
  top: 1876px;
  left: 618px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v26_131 {
  width: 504px;
  color: rgba(255,255,255,1);
  top: 1876px;
  left: 1058px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v26_135 {
  width: 636px;
  height: 656px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2367px;
  left: 218px;
  overflow: hidden;
}
.v26_136 {
  width: 547px;
  color: rgba(14,14,14,1);
  position: absolute;
  top: 2250px;
  left: 963px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v26_137 {
  width: 186px;
  height: 186px;
  background: url("../images/v26_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3611px;
  left: 1099px;
  overflow: hidden;
}
.v26_138 {
  width: 186px;
  height: 186px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v26_139 {
  width: 122px;
  height: 126px;
  background: url("../images/v26_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 33px;
  overflow: hidden;
}
.v26_140 {
  width: 122px;
  height: 126px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v26_141 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  text-align: left;
}
.v26_142 {
  width: 186px;
  height: 186px;
  background: url("../images/v26_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3611px;
  left: 1317px;
  overflow: hidden;
}
.v26_143 {
  width: 186px;
  height: 186px;
  background: url("../images/v26_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_144 {
  width: 186px;
  height: 186px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v26_145 {
  width: 104px;
  height: 66px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 42px;
  overflow: hidden;
}
.v26_146 {
  width: 104px;
  height: 66px;
  background: url("../images/v26_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_147 {
  width: 104px;
  height: 66px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v26_148 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 93px;
  left: 16px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  text-align: left;
}
