* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v260_60 {
  width: 100%;
  height: 3314px;
  background: url("../images/v260_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_2 {
  width: 100%;
  height: 3314px;
  background: rgba(35,35,35,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_34 {
  width: 100%;
  height: 3057px;
  background: url("../images/v243_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 40px;
  overflow: hidden;
}
.v243_31 {
  width: 100%;
  height: 3057px;
  background: url("../images/v243_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_3 {
  width: 100%;
  height: 1007px;
  background: url("../images/v243_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_4 {
  width: 306px;
  height: 103px;
  background: url("../images/v243_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_5 {
  width: 445px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 143px;
  left: 2px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v243_6 {
  width: 445px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 215px;
  left: 2px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v243_8 {
  width: 636px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 793px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: right;
}
.v243_7 {
  width: 568px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1108px;
  left: 0px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v243_63 {
  width: 568px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1858px;
  left: 0px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v243_67 {
  width: 100%;
  height: 623px;
  background: url("../images/v243_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2434px;
  left: 162px;
  overflow: hidden;
}
.v243_65 {
  width: 400px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 490px;
  left: 359px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v243_64 {
  width: 100%;
  height: 623px;
  background: url("../images/v243_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_30 {
  width: 100%;
  height: 765px;
  background: url("../images/v243_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 2px;
  overflow: hidden;
}
.v243_32 {
  width: 100%;
  height: 631px;
  background: url("../images/v243_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1202px;
  left: 0px;
  overflow: hidden;
}
.v243_35 {
  width: 100%;
  height: 435px;
  background: url("../images/v243_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1969px;
  left: 45px;
  overflow: hidden;
}
.v243_36 {
  width: 100%;
  height: 325px;
  background: url("../images/v243_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_37 {
  width: 100%;
  height: 325px;
  background: url("../images/v243_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v243_38 {
  width: 100%;
  height: 325px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v243_39 {
  width: 100%;
  color: rgba(128,128,128,1);
  position: absolute;
  top: 7px;
  left: 21px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v243_59 {
  width: 100%;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 345px;
  left: 7px;
  font-family: M PLUS 1;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v243_33 {
  width: 843px;
  height: 125px;
  background: url("../images/v243_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1101px;
  left: 626px;
  overflow: hidden;
}
